---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "base"
;

// INTRO FOUT
.wf-loading #Intro {
visibility: hidden;
}
.wf-active #Intro {
visibility: visible;
}

.bg-cover{
  background-size:cover;
}
.bg-contain{
  background-size:contain;
}
.bg-center{
  background-position:center;
}
.bg-repeat{
  background-repeat:repeat;
}
.bg-repeat-x{
  background-repeat:repeat-x;
}
.bg-repeat-y{
  background-repeat:repeat-y;
}
.bg-repeat-none{
  background-repeat:no-repeat;
}
.button{
  color:$white;
  background-color:$red;
  padding:1rem 1.5rem;
  box-shadow:0 .25rem .5rem 0 $black20;
  display:inline-block;
  text-shadow: 0 1px 1px $black30;
  &:hover{
    transform:translateY(-1px);
    box-shadow:0 .25rem 1rem 0 $black20;
  }
  &:active{
    color:$white;
    transform:translateY(0px);
    box-shadow:0 0 .1rem 0 $black30;
  }
}
.button-secondary{
  color:$white;
  background-color:none;
  padding:1rem 1.5rem;
  box-shadow: inset 0 0 0 2px $white80;
  display:inline-block;
  text-shadow: 0 1px 1px $black30;
  &:hover{
    //transform:translateY(-1px);
    box-shadow: inset 0 0 0 2px $white;
  }
  &:active{
    //transform:translateY(0px);
    box-shadow: inset 0 0 0 2px $white;
  }
}
#LogoContainer{
  width:6rem;
  height:6rem;
  @include breakpoint(s){
    width:7.5rem;
    height:7.5rem;
  }
  @include breakpoint(l){
    width:9rem;
    height:9rem;
  }
}
#LogoType{
  font-size:2rem;
  line-height:1;
  margin-top:2.75rem;
  margin-bottom:0;
  @include breakpoint(s){
    font-size:4rem;
    margin-top:2.5rem;
    margin-bottom:0;
  }
  @include breakpoint(l){
    font-size:6rem;
    margin-top:2.25rem;
    margin-bottom:0;
  }
}
.type-grow{
  font-size:4rem;
  line-height:1;
}
.type-grow-2{
  font-size:8rem;
  font-size:20vw;
  line-height:1;
  margin-bottom:0;
  @include breakpoint(l){
    font-size:12rem;
  }
}


.blueprint{
  background-image: linear-gradient(to right, rgba(0,0,0,.05) 0, rgba(0,0,0,0)1.5px);
  background-repeat: repeat;
  background-size: calc(100%/6) 12rem;
}

.visible-grid{
  z-index:-5;
  background-image: linear-gradient(to right, rgba(0,0,255,.08) 0, rgba(255,255,255,0)1.5px);
  background-repeat: repeat-x;
  background-size: calc(100%/6) 100%;
}
span.kern{
  letter-spacing:.02em;
}
#Logo{
  display:block;
  z-index:5;
  width:100%;
  .wheel{
    animation: spinningWheel 10s linear forwards infinite;
    transform-origin: center;
  }
}

@-webkit-keyframes spinningWheel {
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}
@keyframes spinningWheel {
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}


html {
-webkit-font-smoothing: antialiased;
}

.bg-dot-grid-red{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAF0lEQVQoU2P8z8DwnwEPYBwBCv7/ZwAAIg4R9/GgL8AAAAAASUVORK5CYII=)
  repeat;
}
.bg-dot-grid-navy{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGElEQVQoU2MUVg/7z4AHMA5/BW9urGQAAB5DDu5Qo1YTAAAAAElFTkSuQmCC)
  repeat;
}


@-webkit-keyframes story-section {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes story-section {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
.mt-scaled{
  margin-top:25vh;
  @include breakpoint(l){
    margin-top:50vh;
  }
}
.story-node{
  mix-blend-mode:multiply;
}
.story-section{
  color:$navy;
  margin-bottom:1rem;
  max-width:100%;
  -webkit-animation-name: story-section;
          animation-name: story-section;
  &:before{
    border-top: 2px solid $red;
    color:$red;
    content:' ';
    display:block;
    width:3rem;
    margin-left:-2rem;
    margin-right:1rem;
    padding-top:1.5rem;

  }
}

.story-number{
  line-height:1;
  font-size:8rem;
  font-size:20vw;
  color:$red;
  margin-left:-.03em;
  margin-bottom:0;
  text-shadow: 0 2px 8px rgba(0,0,0,.18),0 16px 24px rgba(0,0,0,0.18);
  @include breakpoint(m){
    font-size:12rem;
    font-size:22vw;
  }
}
.story-metric{
  margin-top:0;
  color:$navy;
  //margin:0;
  line-height:1;
  @include breakpoint(s){
    margin-top:0rem;
    font-size:2rem;

  }
  @include breakpoint(m){
    font-size:3rem;

  }
  @include breakpoint(l){
    font-size:4rem;
    font-size:6vw;
  }
}
.rotate-n45{
  transform:rotate(-45deg) translateX(2rem) translateY(-.5rem);
}
.rotate-n60{
  transform:rotate(-60deg);
}


// MAPS & MAP ANIMATIONS

// MAP Animations
.mapContainer{
  width:(em(300));
  height:(em(200));
  @include breakpoint(s) {
    width:(em(600));
    height:(em(400));
  }
  @include breakpoint(l) {
    width:(em(900));
    height:(em(600));
  }
}
.map{
  width:100%;
  height:100%;
  max-width:100%;
  display: inline-block;
	fill: currentColor;
  stroke: currentColor;
	padding:1rem 0;
}


// Triggers for Route Path Animation

#labelNUS  {
  @include breakpoint(s) {
    top:2%; left:9%;
  };
  @include breakpoint(l) {
    left:11%;
  }
}
#labelME2SB{
  @include breakpoint(s) {
    top:19%; right:3.5%;
  };
  @include breakpoint(l) {
    right:7%;
  }
}
#labelP2S  {
  @include breakpoint(s) {
    top:24%; right:6%;
  };
  @include breakpoint(l) {
    right:9%;
  }
}
#labelCUS  {
  @include breakpoint(s) {
    top:14%; left:6%;
  };
  @include breakpoint(l) {
    left:8.5%;
  }
}
#labelC2C  {
  @include breakpoint(s) {
    top:33%; left:3%;
  };
  @include breakpoint(l) {
    left:6%;
  }
}
#labelNC2SD{
  @include breakpoint(s) {
    top:50.5%; left:6%;
  };
  @include breakpoint(l) {
    left:9%;
  }
}
#labelSC2SC{
  @include breakpoint(s) {
    top:52%; right:12%;
  };
  @include breakpoint(l) {
    right:15.5%;
  }
}
#labelSUS  {
  @include breakpoint(s) {
    top:62%; right:18%;
  };
  @include breakpoint(l) {
    right:20%;
  }
}

.trigger-tag{
  display:none;
  outline:none;
  @include breakpoint(s) {
    display:block;
  };
  font-size:$h6;
  background-color:$white;
  color:$navy;
  padding:.25em .5em;
  letter-spacing: 0.1em;
  &:before, &:after{
    content:'';
    display: inline-block;
    position: absolute;
    top:.5em;
  }
}
.pointer-left{
  &:before{
    animation: highlight-left-arrow 12s ease-in-out infinite;
    left: -.75em;
    border-right:.75em solid $navy;
    border-top:.5em solid transparent;
    border-bottom:.5em solid transparent;
  }
}
.pointer-right{
  &:after{
    animation: highlight-right-arrow 12s ease-in-out infinite;
    right: -.75em;
    border-left:.75em solid $navy;
    border-top:.5em solid transparent;
    border-bottom:.5em solid transparent;
  }
}

.routePath{
  path{
    stroke-width:2;
  }
}
@-webkit-keyframes dash {
  0%{stroke-dasharray:10; stroke-dashoffset: 300;stroke:$red;stroke-width:4;}
  12%{stroke-dasharray:10; stroke-dashoffset: 0;stroke:$red;stroke-width:4;}
  13%{stroke-dasharray:0;stroke:$navy;stroke-width:2;}
  100%{stroke-dasharray:0;stroke-dashoffset: 0;}
}
@keyframes dash {
  0%{stroke-dasharray:10; stroke-dashoffset: 300;stroke:$red;stroke-width:4;}
  12%{stroke-dasharray:10; stroke-dashoffset: 0;stroke:$red;stroke-width:4;}
  13%{stroke-dasharray:0;stroke:$navy;stroke-width:2;}
  100%{stroke-dasharray:0;stroke-dashoffset: 0;}
}

@-webkit-keyframes dash-reverse {
  0%{stroke-dasharray:10;stroke-dashoffset: -300;stroke:$red;stroke-width:4;}
  12%{stroke-dasharray:10;stroke-dashoffset: 0;stroke:$red;stroke-width:4;}
  13%{stroke-dasharray:0;stroke:$navy;stroke-width:2;}
  100%{stroke-dasharray:0;stroke-dashoffset: 0;}
}
@keyframes dash-reverse {
  0%{stroke-dasharray:10;stroke-dashoffset: -300;stroke:$red;stroke-width:4;}
  12%{stroke-dasharray:10;stroke-dashoffset: 0;stroke:$red;stroke-width:4;}
  13%{stroke-dasharray:0;stroke:$navy;stroke-width:2;}
  100%{stroke-dasharray:0;stroke-dashoffset: 0;}
}

@-webkit-keyframes highlight-tag {
  0%{ color:$red;}
  12%{ color:$red;}
  13%{color:$navy;}
  100%{color:$navy;}
}
@keyframes highlight-tag {
  0%{ color:$red;}
  12%{ color:$red;}
  13%{color:$navy;}
  100%{color:$navy;}
}

@-webkit-keyframes highlight-left-arrow {
  0%{ border-right-color:$red;}
  12%{ border-right-color:$red;}
  13%{border-right-color:$navy;}
  100%{border-right-color:$navy;}
}
@keyframes highlight-left-arrow {
  0%{ border-right-color:$red;}
  12%{ border-right-color:$red;}
  13%{border-right-color:$navy;}
  100%{border-right-color:$navy;}
}
@-webkit-keyframes highlight-right-arrow {
  0%{ border-left-color:$red;}
  12%{ border-left-color:$red;}
  13%{border-left-color:$navy;}
  100%{border-left-color:$navy;}
}
@keyframes highlight-right-arrow {
  0%{ border-left-color:$red;}
  12%{ border-left-color:$red;}
  13%{border-left-color:$navy;}
  100%{border-left-color:$navy;}
}


.trigger-tag{
  animation: highlight-tag 12s ease-in-out infinite;
}


// #labelME2SB, #labelME2SB:before{-webkit-animation-delay:0s;animation-delay:0s;}
#labelNUS  , #labelNUS:after{-webkit-animation-delay:2s;animation-delay:2s;}
// #labelP2S  , #labelP2S:before{-webkit-animation-delay:4s;animation-delay:4s;}
// #labelC2C  , #labelC2C:after{-webkit-animation-delay:6s;animation-delay:6s;}
#labelCUS  , #labelCUS:after{-webkit-animation-delay:6s;animation-delay:6s;}
// #labelNC2SD, #labelNC2SD:after{-webkit-animation-delay:12s;animation-delay:10s;}
// #labelSC2SC, #labelSC2SC:before{-webkit-animation-delay:10s;animation-delay:12s;}
#labelSUS  , #labelSUS:before{-webkit-animation-delay:10s;animation-delay:10s;}


// #pME2{
//   path{
//     animation: dash-reverse 16s ease-in-out infinite;
//   -webkit-animation-delay: 0s; /* Chrome, Safari, Opera */
//           animation-delay: 0s;
//
//         } }
#pNUS{
  path{
    animation: dash 12s ease-in-out infinite;
  -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
          animation-delay: 2s;
          }}
// #pP2S{
//   path{
//     animation: dash 16s ease-in-out infinite;
//   -webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
//           animation-delay: 4s;
//             }}
// #pC2C{
//   path{
//     animation: dash 16s ease-in-out infinite;
//   -webkit-animation-delay: 6s; /* Chrome, Safari, Opera */
//           animation-delay: 6s;
//           }}
#pCUS{
  path{
    animation: dash 12s ease-in-out infinite;
  -webkit-animation-delay: 6s; /* Chrome, Safari, Opera */
          animation-delay: 6s;
          }}
// #pNC2{
//   path{
//     animation: dash-reverse 16s ease-in-out infinite;
//   -webkit-animation-delay: 10s; /* Chrome, Safari, Opera */
//           animation-delay: 10s;
//
// }}
// #pSC2{
//   path{
//     animation: dash 16s ease-in-out infinite;
//   -webkit-animation-delay: 12s; /* Chrome, Safari, Opera */
//           animation-delay: 12s;
//             }}
#pSUS{
  path{
    animation: dash 12s ease-in-out infinite;
  -webkit-animation-delay: 10s; /* Chrome, Safari, Opera */
          animation-delay: 10s;
            }}
