---
layout: default
title: Bike &amp; Build 2017 Annual Report
---

{% include_relative content/letter.html %}
{% include_relative content/background.html %}

<h1>2017</h1>

<h4>We welcomed</h4>
<h2>177</h2>
<h3>Riders</h3>
{% include_relative content/riders.html %}

<h4>They Averaged</h4>
<h2>$5,095</h2>
<h3>In Fundraising</h3>
{% include_relative content/topfundraisers.html %}

<h4>We Awarded </h4>
<h2>6</h2>
<h3>Scholarships</h3>
{% include_relative content/scholarships.html %}

<h4>We Rode</h4>
<h2>478,285</h2>
<h3>Total Miles</h3>
{% include_relative content/map.html %}

<h4>We Volunteered</h4>
<h2>11,928</h2>
<h3>Hours swinging hammers on build sites</h3>
<p>Over 51 build days.</p>

<h4>We Granted</h4>
<h2>$220,000</h2>
<h3>To Affordable Housing Organizations</h3>
{% include_relative content/grants.html %}

<h4>We Impacted</h4>
<h2>250</h2>
<h3>Grant Recipients</h3>
{% include_relative content/grantees.html %}

<h4>We Added</h4>
<h2>1</h2>
<h3>New Ride</h3>
<p>Travis Manion Foundation</p>
<p>In the spirit of expanding our offerings and finding new ways to achieve our mission, Bike & Build partnered with the Travis Manion Foundation for a 377 mile ride from Pittsburgh to DC along the Great Allegheny Passage and C&O Canal Trail in September of 2017. During the ride, the team of 10 veterans and 2 Bike & Build alumni stopped to volunteer and build homes with affordable housing organizations. The ride was a tremendous success thanks to the Travis Manion Foundation and the lively veterans that came out to ride for the affordable housing cause and to honor their fallen brothers and sisters.</p>

<h4>We maintained</h4>
<h2>100%</h2>
<h3>Focus on Safety</h3>
<p>Safety remains the number one focus of Bike & Build programming. Our  safety protocols continue to evolve as we build upon our past standards; here we reiterate protocols enacted in years prior and detail expansions made in 2017. We will continue to hold our riders to the highest safety standards while advocating for shared roads. For more on our safety program, please visit our website’s <a href="https://bikeandbuild.org/prospective-riders/safety/">Safety</a> page.</p>
{% include_relative content/safety.html %}

<h4>We celebrated</h4>
<h2>15</h2>
<h3>Years on the road</h3>
<p>In celebration of our 15th anniversary, over 100 alumni traveled from across the country to Virginia for a weekend of volunteering with local organizations, highlighting the work of our alumni post-Bike & Build, discussing Bike & Build’s future, and spending a few days in the great outdoors. In addition to rekindling the Bike & Build spirit, Alumni were called upon to give feedback on the future of Bike & Build to staff and board. We walked away from the weekend with a sense of invigoration. Generations of Bike & Build came together to celebrate Bike & Build’s 15th birthday while thoughtfully discussing, reflecting, and deliberating on the past and future years of the organization.</p>
{% include_relative content/alumni.html %}


<hr>
<section>
  <h2>Cumulative Stats</h2>
  <div class="col col-12 m-col-5 py-l">
    <h2>15</h2>
    <h3>Years</h3>
  </div>
  <div class="col col-12 m-col-5 py-l">
    <h2>3,500</h2>
    <h3>riders</h3>
  </div>
  <div class="col col-12 m-col-5 py-l">
    <h2>11</h2>
    <h3>million miles</h3>
  </div>
  <div class="col col-12 m-col-5 py-l">
    <h2>236,000</h2>
    <h3>volunteer hours</h3>
  </div>
  <div class="col col-12 m-col-5 py-l">
    <h2>$6.4 Million</h2>
    <h3>grant donations</h3>
  </div>
</section>
