---
layout: default
title: Bike &amp; Build 2017 By the Numbers
---



177 Riders
{% include_relative content/riders.html %}

Average $ Raised = $5,095
{% include_relative content/topfundraisers.html %}

We Awarded 6 Scholarships
{% include_relative content/scholarships.html %}

We Rode 478,285 Miles
{% include_relative content/map.html %}

We Spent 11,928 hours swinging hammers on build sites
51 Build Days

Granted $220,000
{% include_relative content/grants.html %}

250 Grant Recipients
{% include_relative content/grantees.html %}

1 New Ride – Travis Manion Foundation
<p>In the spirit of expanding our offerings and finding new ways to achieve our mission, Bike & Build partnered with the Travis Manion Foundation for a 377 mile ride from Pittsburgh to DC along the Great Allegheny Passage and C&O Canal Trail in September of 2017. During the ride, the team of 10 veterans and 2 Bike & Build alumni stopped to volunteer and build homes with affordable housing organizations. The ride was a tremendous success thanks to the Travis Manion Foundation and the lively veterans that came out to ride for the affordable housing cause and to honor their fallen brothers and sisters.</p>

Focus on Safety
<p>Safety remains the number one focus of Bike & Build programming. Our  safety protocols continue to evolve as we build upon our past standards; here we reiterate protocols enacted in years prior and detail expansions made in 2017. We will continue to hold our riders to the highest safety standards while advocating for shared roads. For more on our safety program, please visit our website’s <a href="https://bikeandbuild.org/prospective-riders/safety/">Safety</a> page.</p>
{% include_relative content/safety.html %}


Bike & Build Turned 15!
<p>In celebration of our 15th anniversary, over 100 alumni traveled from across the country to Virginia for a weekend of volunteering with local organizations, highlighting the work of our alumni post-Bike & Build, discussing Bike & Build’s future, and spending a few days in the great outdoors. In addition to rekindling the Bike & Build spirit, Alumni were called upon to give feedback on the future of Bike & Build to staff and board. We walked away from the weekend with a sense of invigoration. Generations of Bike & Build came together to celebrate Bike & Build’s 15th birthday while thoughtfully discussing, reflecting, and deliberating on the past and future years of the organization.</p>
{% include_relative content/alumni.html %}

Cumulative Stats

15
Years

3,500
riders

11
million miles

236,000
volunteer hours

$6.4 Million
grant donations
