<footer class="site-footer cf relative z1 border-bottom-thick navy px-l pt-l pb-m bg-navy white">
  <section class="cf">
    <div class="col col-12 m-col-6">
      <p class="white"> All content © Bike &amp; Build and respective owners, 2018. </p>
    </div>
    <div class="col col-12 m-col-6">
      <p class="text-right white"> Site by <a class="white" href="http://alexbloom.co">Alex Bloom</a>.</p>
    </div>
  </section>
</footer>

<!-- <div class="fixed bottom-0 right-0 z2 white">
  <ul class="rotate-90">
    <li class="inline-block px-s"> <a href="#" class="p-s">Facebook  </a> </li>
    <li class="inline-block px-s"> <a href="#" class="p-s">Twitter  </a> </li>
    <li class="inline-block px-s"> <a href="#" class="p-s">Linkedin  </a> </li>
    <li class="inline-block px-s"> <a href="#" class="p-s">info@bikeandbuild.org </a> </li>
  </ul>
</div> -->
