
<div class="fixed">
  <ul>
    <li> <a href="">Facebook  </a> </li>
    <li> <a href="">Twitter  </a> </li>
    <li> <a href="">Linkedin  </a> </li>
    <li> <a href=""> info@bikeandbuild.org </a> </li>
  </ul>
</div>

<footer class="site-footer relative z1 border-bottom-thick navy px-l py-m">
  <section class="cf">
    <div class="col-12 m-col-6 left">
      <p> All content © Bike &amp; Build and respective owners, 2017. </p>
    </div>
    <div class="col-12 m-col-6 left">
      <p class="text-right"> Site by <a class="navy" href="http://alexbloom.co">Alex Bloom</a>.</p>
    </div>
  </section>
</footer>
