
<header class="site-header fixed z3 s-hide right-0 left-0 bg-navy text-center" style="height:2.5rem;">
  <div class="relative mx-auto max-width-xxl p-0">
    <nav class="site-nav fixed left-l right-l">
        <a href="#Letter"     class="inline-block mx-m pt-s h5 link white">Letter</a>
        <a href="#Story"      class="inline-block mx-m pt-s h5 link white">Story</a>
        <a href="#Financials" class="inline-block mx-m pt-s h5 link white">Financials</a>
        <a href="#Onward"     class="inline-block mx-m pt-s h5 link white">Onward</a>
    </nav>
  </div>
</header>

<!-- Intro -->
<!-- <div class="fixed visible-grid top-0 bottom-0 left-0 right-0 z1">

</div> -->
