
<header class="site-header fixed z3 s-hide right-0 left-0 bg-navy text-center" style="height:2.5rem;">
  <div class="relative mx-auto max-width-xxl p-0">
    <div class="logo">
      <h1>Logo</h1>
    </div>
    <nav class="site-nav">
        <a href="index"     class="inline-block mx-m pt-s h5 link white">2017</a>
        <a href="2017"      class="inline-block mx-m pt-s h5 link white">Timeline</a>
        <a href="#Financials" class="inline-block mx-m pt-s h5 link white">Financials</a>
        <a href="#Onward"     class="inline-block mx-m pt-s h5 link white">Onward</a>
    </nav>
  </div>
</header>
