<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="navy">
    {% include mapinline.svg %}
    {% include header.html %}


    <div class="main wrap cf">
        {{ content }}
    </div>

    <!-- <div class="fixed top-0 left-0 right-0 bottom-0 max-width-xxl mx-auto">
      <div class="visible-grid absolute top-0 left-l right-l bottom-0"></div>
    </div> -->

    {% include footer.html %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        document.write(unescape("%3Cscript src='{{site.github.url}}/js/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
    }
    </script>
    <script type="text/javascript" src="{{site.github.url}}/js/slick.min.js"></script>
    <script type="text/javascript" src="{{site.github.url}}/js/wow.min.js"></script>
    <script>
      new WOW().init();
      $(document).ready(function(){
        $('.slider').slick({
          infinite: false,
          adaptiveHeight: true,
          dots: true,
          slidesToScroll: 1,
          slidesToShow: 1,
          mobileFirst: true,
          responsive:[
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 3
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 2
              }
            },
          ]
        });
        // Scroll To
        $(function() {
          $('a[href*="#"]:not([href="#"])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html, body').animate({
                  scrollTop: target.offset().top
                }, 1000);
                return false;
              }
            }
          });
        });
        // Expanding classes
        var maxheight=88;
        var showText = "Read Interview";
        var hideText = "Hide Interview";

        $('.textContainer_Truncate').each(function () {
          var text = $(this);
          if (text.height() > maxheight){
              // text.css({ 'overflow': 'hidden','height': maxheight + 'px' });
              text.addClass('max-height-0');
              var link = $('<a class="navy" href="#">' + showText + '</a>');
              var linkDiv = $('<div></div>');
              linkDiv.append(link);
              $(this).after(linkDiv);

              link.click(function (event) {
                event.preventDefault();
                if (text.height() > maxheight) {
                    $(this).html(showText);
                    text.addClass('max-height-0');
                } else {
                    $(this).html(hideText);
                    text.removeClass('max-height-0');
                }
              });
          }
        });

    });
    </script>

  </body>

</html>
